<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUBundleName</key>
	<string>Notchi Remix</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUScheduledImpatientCheckInterval</key>
	<integer>90000</integer>
	<key>SUFeedURL</key>
	<string>https://updates.notchi.app/appcast.xml</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>ZfouVFLXx9vyEimCHW+JWgAtikAq19KsWbig7FkB2QA=</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
